* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/fondo.avif");
    background-size: cover;
    background-position: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.calculadora {
    background: #5d6c6a;
    border: 1px solid #060606;
    padding: 30px;
    border-radius: 15px;
    width: 450px;
}

#pantalla {
    width: 100%;
    padding: 20px;
    font-size: 36px;
    text-align: right;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.teclado button {
    padding: 25px 0;
    font-size: 26px;
    border: 1px solid #060606;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
}

.teclado button:hover {
    background: #f7fdc5;
}

.teclado .operador,
#igual {
    background: #4264ae;
    color: #fff;
}

.teclado .operador:hover,
#igual:hover {
    background: #8cabe6;
}

#limpiar {
    background: #c0392b;
    color: #fff;
}

#limpiar:hover {
    background: #d57267;
}
